*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
/* first container design  */
.first-container{
    width: 100%;
    height: 50vh;
    position: relative;
    overflow-x: hidden;
}
.first-image{
    width: 100%;
    height: 50vh;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    filter: brightness(80%);
}

/*              navbar styles  */

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 45px;
    position: absolute;
    top: 0;
    z-index: 999;
}
.right-head{
    display: flex;
    justify-content: end;
    align-items: center; 
    gap: 20px;
}
.right-head button{
    padding: 5px;
    width: 120px;
    font-weight: bold;
    background: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 22px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner-details h1{
    font-size: 40px;
    color: white;
}
.header i{
    color: white;
    font-size: 25px;
}

nav button:hover{
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(184, 160, 25);
    box-shadow: 2px 2px 3px black;

}
.header input:checked~ .right-head{
    background-color: rgb(39, 98, 100);
    opacity: 0.9;
      left: 0;
      transition: 2s;
}
input{
    display: none;
}
.header i{
    display:none;
}
@media screen and (max-width:800px) {
    .right-head{
        position: fixed;
        left: -100%;
        transition: 2s;
        background-color:cadetblue;
        top: 63px;
        width: 100%;
        flex-direction: column;
        height: 90vh;
        display: grid;
        justify-content: center;
    }
    .header i{
        display: inline;
    }
    nav{
        justify-content: space-between;
    }
     
}
@media screen and (min-width:800px) and (max-width:1400px) {
    .header input:checked~ .right-head{
        background: none;
        transition: none;
  }
}

.inner-details{
    position: absolute;
    color:white;
    text-align: center;
    top:25vh ;
    width: 100%;   
}
.inner-details h1{
    text-shadow: 2px 2px 10px black;
}

/*           second container  */
.second-container{
    width:100%;
    min-height: 80vh;
    overflow: hidden;
    background-color: rgb(162, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.second-details{
    width:500px ;
    height: 300px;
}
.second-image{
    width: 500px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    overflow: hidden;
}
.second-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.second-details h1{
    font-size: 35px;
    text-align: center;
    color: #2B2A4C;
    text-shadow: 2px 2px 10px black;
}
.second-details p{
    padding-top: 20px;
    line-height: 22px;
}
.second-details button{
    padding: 8px;
    margin-top: 20px;
    color: orangered;
    background-color: rgb(231, 215, 209);
    border: 1px solid orangered;
    width:150;
    cursor: pointer;
}
.second-details button:hover{
    background-color: orangered;
    color: white;
}
/* third container styles  */

.third-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(162, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.third-image{
    width: 80%;
    height:100%;
    background-image: url(./banner2.jpg);
    background-size: cover;
    border-radius: 10px;
    filter: brightness(30%);
    overflow: hidden;
}
.third-image-details{
    width: 80%;
    height:100%;
    position: absolute;
    top: 40%;
    text-align: center;
}
.third-image-details h1{
    font-size: 40px;
    color: white;
    padding: 10px;
    width: auto;
    text-align: center;
}
.third-image-details button{
    padding: 8px;
    width: 150px;
    margin-top: 30px;
    cursor: pointer;
    border: 2px solid white;
    background: none;
    color: white;
    border-radius: 5px;
}
.third-image-details button:hover{
    background-color: orangered;
    /* border: none; */
    border: 2px solid orangered;
}

/*insert contaier styles*/
.insert-container{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(162, 194, 194);
    text-align: center;
}
.insert-container h1{
    font-size: 40px;
    padding-bottom: 10px;
    color:#051b2e;
    text-shadow: 2px 2px 10px black;
}
.insert-container p{
    padding-bottom: 70px;
    color: #2B2A4C;
}
.insert-total-box-container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.insert-box{
   width: 310px;
    min-height: 350px;
}
.insert-box img{
    width: 100%;
    height: 250px;
    border-radius:10px ;
    object-fit: cover;
}
.insert-box div{
    text-align: left;
}
.box-detail h3{
padding: 10px 0;
color: #301a80;
}
.box-detail p{
    color: #2B2A4C;
}
/* fourth container styles  */
.fourth-container{
    min-height:50vh ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    background-color: rgb(162, 194, 194);

}
.fourth-container p{
    width: 80%;
    text-align: center;
    line-height: 25px;
    color: #301a80;
    
}
.fourth-container h1{
    padding-top: 20px;
   
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.icons i{
    color:#1813b3;
    font-size: 30px;
}
p i{
    color: rgb(255, 0, 0);
}
h1 a{
    text-decoration: none;
    text-shadow: 2px 2px 10px black;
    color: #2B2A4C;
    cursor: pointer;
}
@media screen and (max-width:800px) {
    .second-container{
        flex-direction: column;
        text-align: center;
    }
    .second-details{
        padding: 10px;
        width: auto;
        
    }
    .second-details h1{
        font-size: 30px;
        /* width: 50%; */
    }
    .second-image{
        padding: 10px;
        width: auto;
    }
    .fourth-container{
        width: 100%;
    }
    .third-image-details h1{
        font-size:28px;
        width: auto;
    }
    .third-container {
        padding-top: 30px;
    }
    .insert-total-box-container{
        flex-direction: column;
        min-height: 100vh;
    }
    .insert-box{
        width: auto;
    }
}
@media screen and (min-width:800px )and (max-width:1400px){
    .second-details{
        padding: 10px;
    }
     .second-details p{
        text-align: left;
        margin: auto;
    } 
    .second-details h1{
        text-align: left;
    }
    .second-details button{
        margin-top: 10px;
    }
}
